<!--A4749739227af1618f7b0d1b588c0e85-->
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="js/bootstrap/dist/css/bootstrap.min.css"/>
    <script src="js/jQuery1.11.3/jquery-1.11.3.min.js" type="text/javascript" charset="utf-8"></script>
    <style type="text/css">
        ::-webkit-scrollbar {
            display: none;
        }

        body, html {
            width: 100%;
            height: 100%;
            margin: 0;

            font-family: "微软雅黑";
        }

        #containMap {
            width: 60%;
            height: 100%;
            float: left;
            margin: 0;
            position: fixed;
            top: 0px;
            left: 0px;
            overflow: hidden;
        }

        #allmap {
            width: 100%;
            height: 100%;
            float: left;
            margin: 0;
        }

        #ss-container {
            width: 40%;
            height: auto;
            float: left;
            left: 60%;
            background: #142736;
        }

    </style>

    <title>Show Travel</title>
</head>
<body>

    <div class="" id="containMap">
        <div class="" id="allmap">
        </div>
    </div>
    <div id="ss-container" class="ss-container">
        <div class="ss-row">
            <div class="ss-left">
                <h2 id="november">November</h2>
            </div>
            <div class="ss-right">
                <h2>2014</h2>
            </div>
        </div>
        <div class="ss-row ss-small">
            <div class="ss-left">
                <a href="http://www.htmleaf.com/jQuery/" class="ss-circle ss-circle-1">Typography Effects with CSS3
                    and
                    jQuery</a>
            </div>
            <div class="ss-right">
                <h3>
                    <span>November 28, 2014</span>
                    <a href="http://www.htmleaf.com/css3/">Typography Effects with CSS3 and jQuery</a>
                </h3>
            </div>
        </div>
        <div class="ss-row ss-small">
            <div class="ss-left">
                <h3>
                    <span>November 22, 2014</span>
                    <a href="http://www.htmleaf.com/jQuery/">Hover and Click Trigger for Circular Elements with
                        jQuery</a>
                </h3>
            </div>
            <div class="ss-right">
                <a href="http://www.htmleaf.com/jQuery/" class="ss-circle ss-circle-2">Hover and Click Trigger for
                    Circular
                    Elements with jQuery</a>
            </div>
        </div>
        <div class="ss-row ss-small">
            <div class="ss-left">
                <a href="http://www.htmleaf.com/jQuery/" class="ss-circle ss-circle-3">Elastic Image Slideshow with
                    Thumbnail Preview</a>
            </div>
            <div class="ss-right">
                <h3>
                    <span>November 21, 2014</span>
                    <a href="http://www.htmleaf.com/jQuery/">Elastic Image Slideshow with Thumbnail Preview</a>
                </h3>
            </div>
        </div>
        <div class="ss-row ss-small">
            <div class="ss-left">
                <h3>
                    <span>November 18, 2014</span>
                    <a href="http://www.htmleaf.com/html5/">Fullscreen Image Blur Effect with HTML5</a>
                </h3>
            </div>
            <div class="ss-right">
                <a href="http://www.htmleaf.com/html5/" class="ss-circle ss-circle-4">Fullscreen Image Blur Effect
                    with
                    HTML5</a>
            </div>
        </div>
        <div class="ss-row ss-small">
            <div class="ss-left">
                <a href="http://www.htmleaf.com/html5/" class="ss-circle ss-circle-5">Interactive Typography Effects
                    with
                    HTML5</a>
            </div>
            <div class="ss-right">
                <h3>
                    <span>November 9, 2014</span>
                    <a href="http://www.htmleaf.com/html5/">Interactive Typography Effects with HTML5</a>
                </h3>
            </div>
        </div>
        <div class="ss-row ss-small">
            <div class="ss-left">
                <a href="http://www.htmleaf.com/css3/" class="ss-circle ss-circle-6">Animated Buttons with CSS3</a>
            </div>
            <div class="ss-right">
                <h3>
                    <span>November 7, 2014</span>
                    <a href="http://www.htmleaf.com/css3/">Animated Buttons with CSS3</a>
                </h3>
            </div>
        </div>
        <div class="ss-row ss-small">
            <div class="ss-left">
                <h3>
                    <span>November 2, 2014</span>
                    <a href="http://www.htmleaf.com/css3/">Original Hover Effects with CSS3</a>
                </h3>
            </div>
            <div class="ss-right">
                <a href="http://www.htmleaf.com/css3/" class="ss-circle ss-circle-7">Original Hover Effects with
                    CSS3</a>
            </div>
        </div>
        <div class="ss-row">
            <div class="ss-left">
                <h2 id="october">October</h2>
            </div>
            <div class="ss-right">
                <h2>2014</h2>
            </div>
        </div>
        <div class="ss-row ss-small">
            <div class="ss-left">
                <h3>
                    <span>October 31, 2014</span>
                    <a href="http://www.htmleaf.com/jQuery/">Fullscreen Image 3D Effect with CSS3 and jQuery</a>
                </h3>
            </div>
            <div class="ss-right">
                <a href="http://www.htmleaf.com/jQuery/" class="ss-circle ss-circle-8">Fullscreen Image 3D Effect
                    with
                    CSS3
                    and jQuery</a>
            </div>
        </div>
        <div class="ss-row ss-small">
            <div class="ss-left">
                <a href="http://www.htmleaf.com/css3/" class="ss-circle ss-circle-9">Creative CSS3 Animation
                    Menus</a>
            </div>
            <div class="ss-right">
                <h3>
                    <span>October 24, 2014</span>
                    <a href="http://www.htmleaf.com/css3/">Creative CSS3 Animation Menus</a>
                </h3>
            </div>
        </div>
        <div class="ss-row ss-small">
            <div class="ss-left">
                <a href="http://www.htmleaf.com/css3/" class="ss-circle ss-circle-10">Blur Menu with CSS3
                    Transitions</a>
            </div>
            <div class="ss-right">
                <h3>
                    <span>October 19, 2014</span>
                    <a href="http://www.htmleaf.com/css3/">Blur Menu with CSS3 Transitions</a>
                </h3>
            </div>
        </div>
        <div class="ss-row ss-small">
            <div class="ss-left">
                <h3>
                    <span>October 17, 2014</span>
                    <a href="http://www.htmleaf.com/jQuery/">Wave Display Effect with jQuery</a>
                </h3>
            </div>
            <div class="ss-right">
                <a href="http://www.htmleaf.com/jQuery/" class="ss-circle ss-circle-11">Wave Display Effect with
                    jQuery</a>
            </div>
        </div>
        <div class="ss-row ss-small">
            <div class="ss-left">
                <a href="http://www.htmleaf.com/jQuery/" class="ss-circle ss-circle-12">Flexible Slide-to-top
                    Accordion</a>
            </div>
            <div class="ss-right">
                <h3>
                    <span>October 12, 2014</span>
                    <a href="http://www.htmleaf.com/jQuery/">Flexible Slide-to-top Accordion</a>
                </h3>
            </div>
        </div>
        <div class="ss-row ss-small">
            <div class="ss-left">
                <h3>
                    <span>October 10, 2014</span>
                    <a href="http://www.htmleaf.com/css3/">Circle Navigation Effect with CSS3</a>
                </h3>
            </div>
            <div class="ss-right">
                <a href="http://www.htmleaf.com/css3/" class="ss-circle ss-circle-13">Circle Navigation Effect with
                    CSS3</a>
            </div>
        </div>
        <div class="ss-row ss-small">
            <div class="ss-left">
                <a href="http://www.htmleaf.com/jQuery/" class="ss-circle ss-circle-14">Draggable Image Boxes
                    Grid</a>
            </div>
            <div class="ss-right">
                <h3>
                    <span>October 7, 2014</span>
                    <a href="http://www.htmleaf.com/jQuery/">Draggable Image Boxes Grid</a>
                </h3>
            </div>
        </div>
        <div class="ss-row">
            <div class="ss-left">
                <h2 id="september">September</h2>
            </div>
            <div class="ss-right">
                <h2>2014</h2>
            </div>
        </div>
        <div class="ss-row ss-small">
            <div class="ss-left">
                <h3>
                    <span>September 30, 2014</span>
                    <a href="http://www.htmleaf.com/jQuery/">Scrollbar Visibility with jScrollPane</a>
                </h3>
            </div>
            <div class="ss-right">
                <a href="http://www.htmleaf.com/jQuery/" class="ss-circle ss-circle-15">Scrollbar Visibility with
                    jScrollPane</a>
            </div>
        </div>
        <div class="ss-row ss-small">
            <div class="ss-left">
                <a href="http://www.htmleaf.com/jQuery/" class="ss-circle ss-circle-16">Multi-level Photo Map</a>
            </div>
            <div class="ss-right">
                <h3>
                    <span>September 27, 2014</span>
                    <a href="http://www.htmleaf.com/jQuery/">Multi-level Photo Map</a>
                </h3>
            </div>
        </div>
        <div class="ss-row ss-small">
            <div class="ss-left">
                <a href="http://www.htmleaf.com/jQuery/" class="ss-circle ss-circle-17">Responsive Image Gallery
                    with
                    Thumbnail Carousel</a>
            </div>
            <div class="ss-right">
                <h3>
                    <span>September 20, 2014</span>
                    <a href="http://www.htmleaf.com/jQuery/">Responsive Image Gallery with Thumbnail Carousel</a>
                </h3>
            </div>
        </div>
        <div class="ss-row ss-small">
            <div class="ss-left">
                <h3>
                    <span>September 12, 2014</span>
                    <a href="http://www.htmleaf.com/jQuery/">Elastislide - A Responsive jQuery Carousel Plugin</a>
                </h3>
            </div>
            <div class="ss-right">
                <a href="http://www.htmleaf.com/jQuery/" class="ss-circle ss-circle-18">Elastislide - A Responsive
                    jQuery
                    Carousel Plugin</a>
            </div>
        </div>
        <div class="ss-row ss-small">
            <div class="ss-left">
                <a href="http://www.htmleaf.com/jQuery/" class="ss-circle ss-circle-19">Slicebox - A fresh 3D image
                    slider
                    with graceful fallback </a>
            </div>
            <div class="ss-right">
                <h3>
                    <span>September 5, 2014</span>
                    <a href="http://www.htmleaf.com/jQuery/">Slicebox - A fresh 3D image slider with graceful
                        fallback </a>
                </h3>
            </div>
        </div>
        <div class="ss-row">
            <div class="ss-left">
                <h2 id="august">August</h2>
            </div>
            <div class="ss-right">
                <h2>2014</h2>
            </div>
        </div>
        <div class="ss-row ss-small">
            <div class="ss-left">
                <h3>
                    <span>August 30, 2014</span>
                    <a href="http://www.htmleaf.com/jQuery/">Automatic Image Montage with jQuery</a>
                </h3>
            </div>
            <div class="ss-right">
                <a href="http://www.htmleaf.com/jQuery/" class="ss-circle ss-circle-20">Automatic Image Montage with
                    jQuery</a>
            </div>
        </div>
        <div class="ss-row ss-small">
            <div class="ss-left">
                <a href="http://www.htmleaf.com/jQuery/" class="ss-circle ss-circle-21">Image Zoom Tour with
                    jQuery</a>
            </div>
            <div class="ss-right">
                <h3>
                    <span>August 23, 2014</span>
                    <a href="http://www.htmleaf.com/jQuery/">Image Zoom Tour with jQuery</a>
                </h3>
            </div>
        </div>
        <div class="ss-row ss-small">
            <div class="ss-left">
                <h3>
                    <span>August 16, 2014</span>
                    <a href="http://www.htmleaf.com/jQuery/">Circular Content Carousel with jQuery</a>
                </h3>
            </div>
            <div class="ss-right">
                <a href="http://www.htmleaf.com/jQuery/" class="ss-circle ss-circle-22">Circular Content Carousel
                    with
                    jQuery</a>
            </div>
        </div>
        <div class="ss-row ss-small">
            <div class="ss-left">
                <a href="http://www.htmleaf.com/jQuery/" class="ss-circle ss-circle-23">Portfolio Image Navigation
                    with
                    jQuery</a>
            </div>
            <div class="ss-right">
                <h3>
                    <span>August 9, 2014</span>
                    <a href="http://www.htmleaf.com/jQuery/">Portfolio Image Navigation with jQuery</a>
                </h3>
            </div>
        </div>
        <div class="ss-row ss-small">
            <div class="ss-left">
                <h3>
                    <span>August 4, 2014</span>
                    <a href="http://www.htmleaf.com/jQuery/">Expanding Fullscreen Grid Portfolio</a>
                </h3>
            </div>
            <div class="ss-right">
                <a href="http://www.htmleaf.com/jQuery/" class="ss-circle ss-circle-24">Expanding Fullscreen Grid
                    Portfolio</a>
            </div>
        </div>
        <div class="ss-row">
            <div class="ss-left">
                <h2 id="july">July</h2>
            </div>
            <div class="ss-right">
                <h2>2014</h2>
            </div>
        </div>
        <div class="ss-row ss-small">
            <div class="ss-left">
                <a href="http://www.htmleaf.com/jQuery/" class="ss-circle ss-circle-25">Content Rotator with
                    jQuery</a>
            </div>
            <div class="ss-right">
                <h3>
                    <span>July 29, 2014</span>
                    <a href="http://www.htmleaf.com/jQuery/">Content Rotator with jQuery</a>
                </h3>
            </div>
        </div>
        <div class="ss-row ss-small">
            <div class="ss-left">
                <h3>
                    <span>July 22, 2014</span>
                    <a href="http://www.htmleaf.com/jQuery/">Vertical Sliding Accordion with jQuery</a>
                </h3>
            </div>
            <div class="ss-right">
                <a href="http://www.htmleaf.com/jQuery/" class="ss-circle ss-circle-26">Vertical Sliding Accordion
                    with
                    jQuery</a>
            </div>
        </div>
        <div class="ss-row ss-small">
            <div class="ss-left">
                <a href="http://www.htmleaf.com/jQuery/" class="ss-circle ss-circle-27">Animated Text and Icon Menu
                    with
                    jQuery</a>
            </div>
            <div class="ss-right">
                <h3>
                    <span>July 12, 2014</span>
                    <a href="http://www.htmleaf.com/jQuery/">Animated Text and Icon Menu with jQuery</a>
                </h3>
            </div>
        </div>
        <div class="ss-row ss-small">
            <div class="ss-left">
                <h3>
                    <span>July 5, 2014</span>
                    <a href="http://www.htmleaf.com/jQuery/">Fullscreen Slideshow with HTML5 Audio and jQuery</a>
                </h3>
            </div>
            <div class="ss-right">
                <a href="http://www.htmleaf.com/jQuery/" class="ss-circle ss-circle-30">Fullscreen Slideshow with
                    HTML5
                    Audio and jQuery</a>
            </div>
        </div>
        <div class="ss-row ss-small">
            <div class="ss-left">
                <a href="http://www.htmleaf.com/jQuery/" class="ss-circle ss-circle-28">Sliding Background Image
                    Menu
                    with
                    jQuery</a>
            </div>
            <div class="ss-right">
                <h3>
                    <span>July 3, 2014</span>
                    <a href="http://www.htmleaf.com/jQuery/">Sliding Background Image Menu with jQuery</a>
                </h3>
            </div>
        </div>
        <div class="ss-row">
            <div class="ss-left">
                <h2 id="june">June</h2>
            </div>
            <div class="ss-right">
                <h2>2014</h2>
            </div>
        </div>
        <div class="ss-row ss-small">
            <div class="ss-left">
                <h3>
                    <span>June 9, 2014</span>
                    <a href="http://www.htmleaf.com/jQuery/">Grid Navigation Effects with jQuery</a>
                </h3>
            </div>
            <div class="ss-right">
                <a href="http://www.htmleaf.com/jQuery/" class="ss-circle ss-circle-29">Grid Navigation Effects with
                    jQuery</a>
            </div>
        </div>
    </div>

</body>
</html>
<script type="text/javascript"
        src="http://api.map.baidu.com/api?v=2.0&ak=A4749739227af1618f7b0d1b588c0e85"></script>
<script type="text/javascript"
        src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
<script type="text/javascript" src="js/viewCtrl/addMap.js"></script>
<script src="js/angular146/angular.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/jQuery1.11.3/jquery-1.11.3.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>

<link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css"/>

<link rel="stylesheet" type="text/css" href="plugin/timeline/css/demo.css"/>
<link rel="stylesheet" type="text/css" href="plugin/timeline/css/style.css"/>
<link href='http://fonts.googleapis.com/css?family=Kelly+Slab' rel='stylesheet' type='text/css'/>
<!--[if lt IE 9]>
<link rel="stylesheet" type="text/css" href="plugin/timeline/css/styleIE.css"/>
<![endif]-->
<script type="text/javascript" src="plugin/timeline/js/modernizr.custom.11333.js"></script>
<script type="text/javascript" src="plugin/timeline/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="plugin/timeline/js/scroolAnimation.js"></script>

